@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}



a {
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
  color: #aaaac1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background: #1B1B1E;
}

p {
  color: #aaaac1;
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h2 {
  font-size: 2.5rem !important;
}

section {
  padding-top: 90px;
}

footer {
  padding-bottom: 10px;
  padding-top: 60px;
  border-top: 1px solid black;
}

.primary__btn {
  background: #240c0c !important;
  padding: 7px 20px !important;
  border: 1px solid #fb7171 !important;
  border-radius: 7px;
  margin-top: 10px;
  transition: 0.2s;
}

.primary__btn a {
  text-decoration: none;
  color: #fb7171;
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
}

.secondary__btn a {
  color: #fb7171 !important;
}

.primary__btn a:hover,
.secondary__btn a:hover,
.third__btn a:hover{
  color: #fff;
  transition: 0.3s;
}

.third__btn:hover{
  background-color: #fb7171 !important;
}

.third__btn {
  background: #240c0c !important;
  padding: 7px 20px !important;
  border: 1px solid #fb7171 !important;
  border-radius: 7px;
  padding-top: 5px;
}

.third__btn a {
  text-decoration: none;
  color: wheat;
  background: transparent !important;
}

@media only screen and (max-width:992px){
  p{
    font-size: .9rem !important;
  }

  .primary__btn a, .secondary__btn a {
    font-size: .9rem;
  }
}

::-webkit-scrollbar{
  width: 10px;
  background: #36363a;
}

::-webkit-scrollbar-thumb{
  border-radius: 2em;
  background-color: #fb7171;
}