.hero{
    padding-top: 60px !important;
}

.hero__content h5{
    color: #aaaac1;
    font-weight: 400;
}

.hero__content {
    padding-top: 50px;
    
}

.hero__img img{
    border-radius: 6px 50px 6px 50px;
}

.hero__img{
    position: relative;
    z-index: 9;
}

.hero__skills{
    text-align: left;
    width: 130px;
    padding: 10px 20px;
    position: absolute;
    top: 29%;
    left: 19%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: hsla(0, 8%, 28%, 0.4);
    z-index: 10;
}

.hero__skills h6{
    background: transparent;
    color: white;
}

.hero__skills span i{
    color: #fb7171 ;
    background: transparent;
}

.hero__skills span{
    background: transparent;
}

.hero__experience{
    width: 170px;
    position: absolute;
    bottom: -10%;
    right: 5%;
    padding: 10px 20px;
    border-radius: 5px;
    background: hsla(0, 8%, 28%, 0.4);
}

.hero__experience h6{
    background: transparent;
    color: white;
    margin-bottom: 5px;
    font-weight: 400;
}

.hero__experience span i{
    color: #fb7171 ;
    background: #240c0c;
    padding: 5px;
    border-radius: 5px;
    padding: 10px;
}

.hero__experience h5 {
    color: #fb7171;
}

.hero__experience span, 
.hero__experience h5,
.hero__experience h6{
    background: transparent !important;
}
